panel-plugin-grafana-daniel-panel {
  .daniel-panel {
    font-size: 14pt;
    height: 100%;
  }
  .no-panel-border {
    border: none;
  }
  .panel-title-text:hover {
    color: inherit !important;
    filter: brightness(50%);
  }
}
